<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css" >
    <title>My blog</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="single-post">
        <h1><%= post.title %></h1>
        <p class="post-date">Ngรy ฤฤng: <%= post.date %></p>
        <% if (post.image) { %>
            <img src="<%= post.image %>" alt="แบฃnh bรi viแบฟt" >
        <% } %>
        <article>
            <%- post.content.replace(/\r?\n/g, "br") %>
        </article>
        <div class="post-action">
            <a href="/" class="btn back-btn">โ Quay lแบกi trang chแปง</a>
            <a href="/post/edit/<%= post.id %>">โ๏ธ Chแปnh sแปญa</a>
            <form action="/post/delete/<%= post.id %>" method="POST" onsubmit="return confirm('Bแบกn cรณ chแบฏc muแปn xรณa bรi viแบฟt')" style="display:inline">
                <button type="submit" class="btn delete-btn">๐๏ธ Xรณa bรi viแบฟt</button>

            </form>

        </div>

    </main>
    <%- include("partials/footer.ejs") %>
    
</body>
</html>